html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding:0;
    background-color: grey;
    font-family: 'Roboto', sans-serif;
}


#container{ 
    background-color: #ffffff;
    justify-content: center;
}


.carousel-indicators{
    color: transparent;
}

.carousel-indicators li{
    border-radius: 100%;
    border: 1px solid orangered;
    position: block;
    inline-size: 1%;
}


.carousel-inner{
    width: 75%;
    margin: 50px auto;
    border: 5px solid rgba(127, 150, 199, 0.275);
    height: 300px;
}


.carousel-caption h3{
    color: #7e5d4e;
    font-size: 26px;
    font-weight: 500;
}

.carousel-caption p{
    color: #83817f;
    font-size: 16px;
    font-weight: 400;
}


